
/* Mengatur font untuk tampilan yang lebih modern */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffffff; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* main { */
    /* flex: 1; */
/* } */